<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="centerme" >
      Esto es para Ingresar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-img id="monoimg" src="https://statics.memondo.com/p/99/cfs/2015/06/CF_27807_c756969ea7c941f09744c37bdd65cc17_otros_comete_el_ultimo_a_escondidas_p.jpg"></ion-img>


<div id="card">
  <ion-card  class="centerme">
    <ion-item>
      <ion-label position="floating" class="centerme" >Nombre</ion-label>
      <ion-input #ElementoNombre></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" class="centerme" >Clave</ion-label>
      <ion-input  type="password" #ElementoClave></ion-input>
    </ion-item>
    <br>

    <ion-button (click)="ingresar(ElementoNombre.value,ElementoClave.value)">Ingresar</ion-button>

  </ion-card>
</div>






</ion-content>

<ion-footer class="centerme">


  <ion-button [routerLink]="['/reg']"> Registrarse </ion-button>



</ion-footer>
